<div id="wrapper">
  <div class="media">
    <div class="media-left media-middle">
        <!-- <img class="media-object" src="https://c1.staticflickr.com/9/8078/8314929977_28fd740070_b.jpg"> image_tag("image_6.jpg", :alt="rss feed")%> -->
        <img class="media-object" src="image_6.jpg" style="widith:250px; height:250px; border:0px;">
    </div>
    <div class="media-body">
      <h4 class="media-heading">Middle aligned media</h4>
    </div>
  </div>
  <div>
  	<p>Brunch whatever kogi gluten-free, pinterest tote bag pabst stumptown bicycle rights. Knausgaard gochujang tacos four loko tofu, kogi salvia health 	   gochujang oth 90's pinterest helvetica lomo mixtape cronut XOXO. Ennui beard put a bird on it blog kickstarter, meggings chia. Knausgaard mustache health goth photo booth vinyl everyday carry heirloom flexitarian slow-carb. Scenester portland sriracha fashion axe humblebrag dreamcatcher direct trade, small batch tattooed food truck lomo XOXO chambray. Celiac listicle before they sold out offal. Polaroid plaid offal humblebrag bitters kale chips salvia aesthetic.
  	</p>
  	<p>Viral listicle helvetica chillwave bitters brunch. Tilde kombucha seitan, XOXO keffiyeh roof party iPhone swag trust fund fap. Banh mi keffiyeh post-ironic, ennui microdosing church-key yr ethical green juice ramps cred you probably haven't heard of them neutra gentrify chambray. Cardigan street art echo park, 90's wayfarers tilde 3 wolf moon meditation affogato health goth celiac godard retro. Stumptown meh food truck aesthetic try-hard next level, leggings austin post-ironic pork belly beard four loko. Trust fund tumblr try-hard skateboard, gastropub asymmetrical meh everyday carry cliche pork belly brunch fanny pack. Dreamcatcher freegan beard, farm-to-table tofu literally bicycle rights flannel.
  	</p>
  </div>
</div>