<div style="padding:0;margin:0">
	<div class="btn-group" role="group" aria-label="...">
		<button  type="button" class="btn btn-default" >
			<%= link_to "Add New Book", new_book_path %>
		</button>
	</div>
	<br>
	<br>
	<%= render 'book_list' %>
</div>